<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.workingedge.phonegap.plugins.example.diagnostic.android.runtime.example" version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>teste</name>
    <description>
        Demonstrates use of Cordova Diagnostic Plugin for requesting Android runtime permissions in Android 6.0/API 23 and above.
    </description>
    <author email="dave@workingedge.co.uk" href="http://www.workingedge.co.uk/dave">
        Dave Alden
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="Fullscreen" value="false" />

    <plugin name="cordova-plugin-whitelist" spec="*" />
    <plugin name="cordova-plugin-device" version="*" />
    <plugin name="cordova-plugin-uniquedeviceid" source="npm" />

</widget>
