<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Teste</name>

    <description>
        Aplicação para testes
    </description>

    <author href="https://teste.com" email="guilherme@teste.com">
        Guilherme
    </author>
    
    <content src="index.html"></content>
    
    <!-- Android only -->
    <platform name="android">
        <preference name="android-minSdkVersion" value="16" />
        <preference name="android-targetSdkVersion" value="22" />
        <preference name="phonegap-version" value="cli-6.3.0" />
    </platform>
    
    <plugin name="org.apache.cordova.camera" />
    <plugin name="org.apache.cordova.media-capture" />
    <plugin name="org.apache.cordova.console" />
    <plugin name="org.apache.cordova.contacts" />
    <plugin name="org.apache.cordova.device" />
    <plugin name="org.apache.cordova.dialogs" />
    <plugin name="org.apache.cordova.file" />
    <plugin name="org.apache.cordova.file-transfer" />
    <plugin name="org.apache.cordova.geolocation" />
    <plugin name="org.apache.cordova.inappbrowser" />
    <plugin name="org.apache.cordova.media" />
    <plugin name="org.apache.cordova.splashscreen" />
    
</widget>
