<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schemas.android.com/apk/res/android"
    id          = "com.phonegap.example"
    version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Teste</name>

    <description>
        Aplicação para testes
    </description>

    <author href="https://teste.com" email="guilherme@teste.com">
        Guilherme
    </author>
    
    <content src="index.html"></content>
    
    <!-- Android only -->
    <platform name="android">
        <preference name="android-minSdkVersion" value="16" />
        <preference name="android-targetSdkVersion" value="22" />
    </platform>
    
    <plugin name="org.apache.cordova.camera" />
    <plugin name="https://github.com/dpa99c/cordova-diagnostic-plugin" />
    <plugin name="https://github.com/pbakondy/cordova-plugin-sim" />
    
</widget>
